body {
  min-height: 100vh;
  width: 100vw;
  overflow: auto;
  font-family: "Raleway";
  font-weight: 100;
  color: #eee;
  background: #262626;
}

.navig {
  display: flex;
}

.navig a.active div {
  color: #262626;
}

.navig a div {
  margin: 5px 10px;
  color: white;
}

.flx-row, .flx-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flx-col {
  flex-direction: column;
}

.base-container {
  width: 100vw;
  overflow: hidden;
}

.base-container .teams {
  width: 100vw;
  flex-wrap: wrap;
}

.team-bank-container,
.team-score-container {
  width: calc(100vw - 20px);
  font-size: 1.3em;
  font-weight: 700;
  border: 2px solid grey;
  border-radius: 8px;
  margin: 10px;
  padding: 5px;
}

.team-bank-container .bank-welp,
.team-score-container .bank-welp {
  position: relative;
  width: 100%;
  justify-content: space-between;
}

.team-bank-container .bank-welp .btn,
.team-score-container .bank-welp .btn {
  background: transparent;
  border: solid 2px;
  font-size: 1.3em;
  font-weight: 700;
  color: white;
}

.team-bank-container.blauw,
.team-score-container.blauw {
  border-color: #0047c1;
}

.team-bank-container.blauw .btn,
.team-score-container.blauw .btn {
  border-color: #0047c1;
}

.team-bank-container.geel,
.team-score-container.geel {
  border-color: #ffde59;
}

.team-bank-container.geel .btn,
.team-score-container.geel .btn {
  border-color: #ffde59;
}

.team-bank-container.rood,
.team-score-container.rood {
  border-color: #8f1919;
}

.team-bank-container.rood .btn,
.team-score-container.rood .btn {
  border-color: #8f1919;
}

.team-bank-container.groen,
.team-score-container.groen {
  border-color: #2d8f19;
}

.team-bank-container.groen .btn,
.team-score-container.groen .btn {
  border-color: #2d8f19;
}

.team-score-container {
  width: calc(50vw - 20px);
  font-size: 1.1em;
}

.score-bord {
  flex-wrap: wrap;
}

.score-bord .team-scorebord-container {
  position: relative;
  width: 22vmax;
  height: 44vmax;
  margin: 10px;
  border: solid 4px red;
  border-radius: 10px;
  background: lightgrey;
  display: flex;
  align-items: flex-end;
}

.score-bord .team-scorebord-container .co2,
.score-bord .team-scorebord-container .co4 {
  position: relative;
  background: yellow;
  width: 50%;
}

.score-bord .team-scorebord-container .co4 {
  background: green;
}

.score-bord .team-scorebord-container .meter {
  position: absolute;
  height: 100%;
  width: 100%;
}

.score-bord .team-scorebord-container .team-color {
  position: absolute;
  top: 0;
  left: 0;
  height: 8vmax;
  width: 8vmax;
}

.score-bord .team-scorebord-container.blauw {
  border-color: #0047c1;
}

.score-bord .team-scorebord-container.blauw .btn {
  border-color: #0047c1;
}

.score-bord .team-scorebord-container.blauw .team-color {
  background: #0047c1;
}

.score-bord .team-scorebord-container.geel {
  border-color: #ffde59;
}

.score-bord .team-scorebord-container.geel .btn {
  border-color: #ffde59;
}

.score-bord .team-scorebord-container.geel .team-color {
  background: #ffde59;
}

.score-bord .team-scorebord-container.rood {
  border-color: #8f1919;
}

.score-bord .team-scorebord-container.rood .btn {
  border-color: #8f1919;
}

.score-bord .team-scorebord-container.rood .team-color {
  background: #8f1919;
}

.score-bord .team-scorebord-container.groen {
  border-color: #2d8f19;
}

.score-bord .team-scorebord-container.groen .btn {
  border-color: #2d8f19;
}

.score-bord .team-scorebord-container.groen .team-color {
  background: #2d8f19;
}

.fade-animation {
  animation-duration: 2s;
  animation-name: fade;
  animation-iteration-count: infinite;
}

.fade-error {
  animation-duration: 1.5s;
  animation-name: fade-50;
  animation-iteration-count: infinite;
}

.fade-slow {
  animation-duration: 4s;
  animation-name: fade-50;
  animation-iteration-count: infinite;
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes fade-50 {
  0%,
  100% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
}
