body {
	min-height: 100vh;
	width: 100vw;
	overflow: auto;

	font-family: "Raleway";
	font-weight: 100;
	color: #eee;
	background: #262626;
}

.navig {
	display: flex;
	a {
		&.active {
			div {
				color: #262626;
			}
		}
		div {
			margin: 5px 10px;
			color: white;
		}
	}
}

.flx-row {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flx-col {
	@extend .flx-row;
	flex-direction: column;
}

.base-container {
	width: 100vw;
	overflow: hidden;

	.teams {
		width: 100vw;
		flex-wrap: wrap;
	}
}

.team-bank-container,
.team-score-container {
	width: calc(100vw - 20px);

	font-size: 1.3em;
	font-weight: 700;

	border: 2px solid grey;
	border-radius: 8px;
	margin: 10px;
	padding: 5px;

	.bank-welp {
		position: relative;
		width: 100%;
		justify-content: space-between;

		.btn {
			background: transparent;
			border: solid 2px;
			font-size: 1.3em;
			font-weight: 700;
			color: white;
		}
	}

	&.blauw {
		border-color: rgb(0, 71, 193);

		.btn {
			border-color: rgb(0, 71, 193);
		}
	}

	&.geel {
		border-color: rgb(255, 222, 89);

		.btn {
			border-color: rgb(255, 222, 89);
		}
	}

	&.rood {
		border-color: rgb(143, 25, 25);

		.btn {
			border-color: rgb(143, 25, 25);
		}
	}

	&.groen {
		border-color: rgb(45, 143, 25);

		.btn {
			border-color: rgb(45, 143, 25);
		}
	}
}

.team-score-container {
	width: calc(50vw - 20px);
	font-size: 1.1em;
}

.score-bord {
	flex-wrap: wrap;
	.team-scorebord-container {
		position: relative;
		width: 22vmax;
		height: 44vmax;
		margin: 10px;
		border: solid 4px red;
		border-radius: 10px;
		background: lightgrey;

		display: flex;
		align-items: flex-end;

		.co2,
		.co4 {
			position: relative;
			background: yellow;
			width: 50%;
		}

		.co4 {
			background: green;
		}

		.meter {
			position: absolute;
			height: 100%;
			width: 100%;
		}

		.team-color {
			position: absolute;
			top: 0;
			left: 0;
			height: 8vmax;
			width: 8vmax;
		}

		&.blauw {
			border-color: rgb(0, 71, 193);

			.btn {
				border-color: rgb(0, 71, 193);
			}
			.team-color {
				background: rgb(0, 71, 193);
			}
		}

		&.geel {
			border-color: rgb(255, 222, 89);

			.btn {
				border-color: rgb(255, 222, 89);
			}
			.team-color {
				background: rgb(255, 222, 89);
			}
		}

		&.rood {
			border-color: rgb(143, 25, 25);

			.btn {
				border-color: rgb(143, 25, 25);
			}
			.team-color {
				background: rgb(143, 25, 25);
			}
		}

		&.groen {
			border-color: rgb(45, 143, 25);

			.btn {
				border-color: rgb(45, 143, 25);
			}
			.team-color {
				background: rgb(45, 143, 25);
			}
		}
	}
}

.fade-animation {
	animation-duration: 2s;
	animation-name: fade;
	animation-iteration-count: infinite;
}

.fade-error {
	animation-duration: 1.5s;
	animation-name: fade-50;
	animation-iteration-count: infinite;
}

.fade-slow {
	animation-duration: 4s;
	animation-name: fade-50;
	animation-iteration-count: infinite;
}

@keyframes fade {
	0%,
	100% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}

@keyframes fade-50 {
	0%,
	100% {
		opacity: 0.7;
	}
	50% {
		opacity: 1;
	}
}
